#ajax-loader {
	content:url('../images/ajax-loader.gif');
	margin-left: auto;
	margin-right: auto;
	display: none;
}
#Coffee {
	content:url('../images/Coffee.jpg');
	margin-left: auto;
	margin-right: auto;
	display: none;
}
#Tea {
	content:url('../images/Tea.jpg');
	margin-left: auto;
	margin-right: auto;
	display: none;
}
#CocaCola {
	content:url('../images/CocaCola.jpg');
	margin-left: auto;
	margin-right: auto;
	display: none;
}
#Water {
	content:url('../images/Water.jpg');
	margin-left: auto;
	margin-right: auto;
	display: none;
}
.requiredError {
	color: red;
}
